.row
  .small-8.small-centered.column

    %p
      = form_for @user, url: { action: "update_email" } do |f|
        .form-group
          = f.text_field :email, placeholder: "Fill in your new email address", class: "form-control"
        .form-group
          = f.submit 'Change my email', class: "log-button"

    %br
    %p
      = form_for @user, url: { action: "update_password" } do |f|
        .form-group
          = f.password_field :password, placeholder: "New password", class: "form-control"
        .form-group
          = f.password_field :password_confirmation, placeholder: "Confirm you new password", class: "form-control"
        .form-group
          = f.submit 'Change my password', class: "log-button"

    %br
    %br
    %p.text-center
      = link_to 'Back', root_path, class: 'btn btn-warning btn-block'
