.container
  .col-md-8
    %h1= @project.name

    .text-right
      = link_to "Edit project", edit_project_path(@project), class: 'btn btn-primary'

    %h3= "Time logged in #{@project.name}"

  .col-md-3.col-md-offset-1.n_project
    %h3 Delete Project
    = link_to 'Delete', project_path(@project), method: :delete, class: 'btn btn-warning'
