.ui.one.column.stackable.center.aligned.grid
  .column
    %h1 1h 23m 5s

    .ui.buttons
      = link_to 'Start', start_timer_path, action: :post, method: :start, class: 'ui toggle button'
      .or
      = link_to 'Stop', stop_timer_path, action: :post, method: :stop, class: 'ui red button'

%br
%br
.ui.stackable.grid
  .three.wide.column
  .ten.wide.column
    .row
      %table.ui.table
        %thead
          %th Date
          %th Time
          %th State
        %tbody
          - @timers.each do |timer|
            %tr
              %td= timer.created_at.strftime("%d/%m/%y - %H:%M")
              %td= timer.time
              %td= timer.running? ? 'running' : 'stopped'
