= render 'layouts/templatecache'
%div{ "ng-controller" => "TimerCtrl" }
  
  = render 'layouts/new_timer'
  

  .medium-8.medium-centered.column.no-padding
    .row
      = render 'timer_list'

  .medium-2.right.column.clients{ "ng-controller" => "newClientCtrl" }
    = render 'client_list'

  .medium-2.right.column.projects{ "ng-controller" => "newClientCtrl" }
    = render 'project_list'
