.small-8.small-centered.column.text-center
  %h1 Welcome to Time


.sign-in
  .small-12.medium-centered.column
    - if flash[:alert]
      .alert-box{ "data-alert" => '' }
        = flash[:alert]
        %a.close{ href:"#" } &times;

    = form_for(resource, as: resource_name, url: session_path(resource_name), authenticity_token: true) do |f|
      = f.email_field :email, placeholder: "Email"

      = f.password_field :password, placeholder: "Password"
      / %div
      /   = f.check_box :remember_me
      /   = f.label :remember_me
      %div= f.submit "SIGN IN", class: 'sign-in-button'
