%nav.top-bar
  %ul.title-area
    %li.name
      %h1= link_to 'Time', timers_path

  %section.top-bar-section
    - if current_user
      %ul.right
        %li.has-dropdown
          = link_to current_user.email, nil
          %ul.dropdown
            %li= link_to 'dropdown', nil

        %li
          = link_to settings_path do
            %i.fa.fa-cog.fa-2x
        - if current_user.admin
          %li
            = link_to admin_path do
              %i.fa.fa-fighter-jet.fa-2x

        %li
          = link_to destroy_user_session_path do
            %i.fa.fa-sign-out.fa-2x
